body{
  background-image: url("./StaticImages/background.jpg");
  background-size: fit;
  background-position-y: 20%;
  background-repeat: no-repeat;
}

.login-form{
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
}

.register-form{
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 35vh;
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .welcome-container{
    width: 90vw;
    margin-top: 10vh;
  }
}
  