
#float{
  display: none;
}


body{
  background-image: url("./StaticImages/background.jpg");
  background-size: fit;
  background-position: right bottom;
  background-repeat: no-repeat;
  font-family: 'Oxygen', sans-serif; 
  height: 100vh;
}



/* LOGIN FORM */
.login-form{
  background-color: rgba(184, 156, 45, 0.3);
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.login-form > button{
align-self: flex-end;
}

.login-form label{
  width: 100%;
  background: transparent;
  /* background: rgba(184, 156, 45, 0.3); */
}

.login-page{
  max-height: 100vh;
  min-height: 100vh;
}

.login-form p{
  width: 100%;
  background: transparent;
  /* background: rgba(184, 156, 45, 0.3);  */
}

span{
  background: inherit;
}


/* REGISTER FORM */
.register-form{
  background-color: rgba(184, 156, 45, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-top: 80px;
  width: inherit;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.register-form > button{
  align-self: flex-end;
  }
  
.register-form label{
  width: 100%;
  background: transparent;
  /* background: rgba(184, 156, 45, 0.3); */
}
  
.register-page{
  max-height: 100vh;
  min-height: 100vh;
}

.register-form p{
  width: 100%;
  background: transparent;
  /* background: rgba(184, 156, 45, 0.3);  */
}

.split-register{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* SPLASH MODAL STYLING */

.new-well-form{
  background-color: rgba(184, 156, 45, 0.3);
  padding: 10px;
  border-radius: 10px;
  /* margin-top: 10px; */
  width: inherit;
  align-self: center;
  display: flex;
  flex-direction: column;
}


.form-container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: auto;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(241, 241, 241, 1.0);;
  padding: 20px;
  border-radius: 10px;
  /* margin-top: 35vh; */
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
}

.fp-h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 16px;
  background-color: transparent;
}

.fp-p {
  font-family: 'Oxygen', sans-serif; 
}

.welcome-page-log-button{
  background-color: rgba(184, 156, 45, 0.6);
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.welcome-page-log-button:hover{
  background-color: rgba(184, 156, 45, 0.8);
  transform: scale(1.1); 
}

.well-container{
  display: flex;
  position: relative;
}

.well-info{
  max-height: 100vh;
  width: 75vw;
  border: 1px solid black;
  background-color: rgba(241, 241, 241, 0.2);
  padding: 16px;
}


.well-table-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.text-right{
  text-align: right;
}

h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 16px;
}

.perf-col, .casing-col, .cement-col, .hole-col, .plug-col{
  height: 70vh;
  max-height: 70vh; 
  
  background-color: rgba(241, 241, 241, 1.0);
  border-right: 1px black solid;
}

.plug-col{
  border-right: none;
}

.well-hole, .well-casing, .well-cement, .well-plug, .well-perfs{
  padding: 16px;
}

.scroll-area{
  overflow: hidden;
  overflow-y: scroll;
  height: 55vh;
  max-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-well{
  display: flex;
  align-items: center;
  justify-content: center;
}


.canvas-frame{
  width: 25vw;
  height: 100vh;
  border: 3px solid purple;
  background-color: rgba(241, 241, 241, 1.0);
  z-index: 5;
}

.plat-pop-up{
  position: absolute;
  top: 5%;
  left: 32.5%;
  width: 500px !important;
  height: 500px;
  display: none;
  z-index: 99;
  border: 15px green solid;
  background-color: rgba(241, 241, 241, 1.0);
}

.well-list-container{
  width: 100%;
  border: thin solid black;
  padding: 16px;
  border-radius: 16px;
}

.well-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon{
  cursor: pointer
}

.ListItem{
  background-color: rgba(184, 156, 45, 0.4);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  padding-bottom: 0px;
  justify-content: space-between;
}

li:nth-child(even){
  background-color: rgba(184, 156, 45, 0.2);
}

.li-button{
  display: inline;
  border-radius: 8px;
  background-color: rgba(241, 241, 241, 1.0);
  transform: scale(0.9); 
}

.li-button:hover{
  background-color: rgba(255, 255, 255, 1.0);
  transform: scale(1.0); 
}

.bold-span{
  font-weight: bold;
}

.new-feature-button{
  background-color: rgba(184, 156, 45, 0.6);
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.new-feature-button:hover{
  background-color: rgba(184, 156, 45, 0.8);
  transform: scale(1.1); 
}



.county-state{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.county{
  width: 60%;
}

.state{
  width: 33%;
}

#back-button{
  color: white;
  font-weight: bold;
  background-color:rgba(184, 156, 45, 0.6)
}

#back-button:hover{
  transform: scale(1.2);
}

.input-hidden:focus{
  background-color: white;
}

.highlight{
  color: rgba(241, 241, 241, 1.0);
  transform: translateX(-15%);
}

.trash-icon{
  cursor: pointer;
  background-color: rgba(184, 156, 45, 0.8);
  display: inline-block;
  padding: 6px;
  border-radius: 50%;
  box-shadow: 0 0 3pt 2pt rgba(184, 156, 45, 1.0);
}

.highlight2{
  /* color: #FFA900;
   */
   color: rgba(184, 156, 45, 1.0);
  /* background-color: rgba(155, 88, 25); */
  background-color: rgba(241, 241, 241, 01.0);
  transform: translate(-30%, -10%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  
  /* * {
    background-color: rgba(241, 241, 241, 1.0);
  } */
  /* body{
    background-image: none;
  } */

  .welcome-container{
    width: 90vw;
    margin-top: 10vh;
  }

  .well-container{
    flex-direction: column;
  }

  .well-info{
    width: 90vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }

  .canvas-frame{
    width: 90vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }

  .login-form label{
    background: rgba(184, 156, 45, 0.3);
  }

}


/* Experimental */
.showme{
  background-image: url("./StaticImages/chevron2.png");
  height: 100px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-left: 0;
  margin-bottom: 16px;
  color: rgba(241, 241, 241, 1.0);
  text-align: center;
  background-position: center top;
  position: relative;
  background-color: rgba(241, 241, 241, 0.6);
}



.label1{
  position: absolute;
  top: 5%;
  left: 40%;
}

.label2{
  position: absolute;
  top: 5%;
  left: 35%;
}

.label3{
  position: absolute;
  top: 5%;
  left: 35%;
}

.label4{
  position: absolute;
  top: 5%;
  left: 20%;
}

.label5{
  position: absolute;
  top: 5%;
  left: 37.5%;
}

#canvas0{
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 8;
  height: 100vh;
  background-image: url("./StaticImages/dirt-texture.jpeg");
  background-size: contain;
  background-repeat: repeat;  
}

#canvas1{
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 10;
  height: 100vh;
}

#canvas2{
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100vh;
  background-color: transparent;
  z-index: 20;
}

#canvas3{
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100vh;
  background-color: transparent;
  z-index: 30;
}

.prev{
  width: 100%;
}

.chart-div{
  /* transform: translateX(-5%); */
  background-color: transparent;
  width: 100%;
}
.chart{
  width: 100%;
  align-self: 'center';
  margin: 60;
  background-color: transparent;
}

.chart-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: transparent;
  /* margin-top: -30px; */
}

.logo{
  width: 60%;
  /* margin: 0 auto; */
  align-self: center;
  background-color: transparent;
}

.splash{
  background-color: rgba(184, 156, 45, 1.0);
}



.splash-body{
  background-color: rgba(184, 156, 45, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WTI-prompt{
  cursor: pointer;
  background-color: transparent;
}

.WTI-prompt:hover{
  transform: scale(1.2);
}

.price-chart{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
}

.new-well-modal{
  margin-top: 10vh;
  height: auto;
}

.new-modal{
  background-color: rgba(241, 241, 241, 1.0);
}


/* .list-p{
  background: transparent;
} */

span{
  background-color: transparent;
}

#splash-modal{
  margin-top: 20vh;
}

.welcome-container{
  transform: translateY(20vh);  
  /* margin-top: 20vh; */
}


.input-hidden{
  background-color: transparent;
  border: none;
  transition: all 0s 50000s;
}

.input-hidden:-webkit-autofill,
.input-hidden:-webkit-autofill:hover,
.input-hidden:-webkit-autofill:focus,
.input-hidden:-webkit-autofill:active,
.input-hidden:-webkit-autofill-previewed,
.input-hidden:-webkit-autofill-selected {
  animation: input_autofill 0s forwards;
}

@keyframes input_autofill {
  100% {
    background-color: transparent;
  }
}

/*VVV WELL VIEW TOO STUFF VVV*/

.well-container-grid{
  padding-top: 16px;
  padding-left: 16px;
  display: grid;
  grid-template-columns: (auto-fit, minmax(320px, 1fr));
}

.well-info-grid{
  display: grid;
  width: 75%;
  height: 100vh;
}

.well-view-grid-top{
 /* display: grid; 
 grid-template-columns: 2fr 1fr 1fr; /*repeat(auto-fit, minmax(320px, 1fr));*/
 /*grid-template-rows: repeat(4, 1fr);
 width: 75%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.hole-col{
  width: 100%;
}

@media screen and (max-width: 768px) {

  .well-info-grid{
    width: 100%;
  }

  .diagram-collapse{
    position: absolute;
  }

  .bg-pseudo{    
    position: absolute;
  } 

  .well-view-grid-top{
    margin-top: 0vh;
    margin-bottom: 103vh;
  } 

  .well-view-grid-top > .btn{
    margin-right: 32px;
  }

  .left-group{
    padding-right: 32px;
  }
  
  #canvas0, #canvas1, #canvas2, #canvas3{
    position: absolute;
    top: 8vh;
    left: 0%;
  }

  body{
    background-image: none;
    height: fit-content;
    max-height: none;
  }

  .labels-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 400px;
  }

  .perf-col, .casing-col, .cement-col, .hole-col, .plug-col{
    background-color: rgba(241, 241, 241, 1.0);
    border-right: none;
    height: auto;
    max-height: 5000vh;
    min-width: 300px;
    width: 100%;
    margin: 0px 16px;
  }

  .scroll-area{
    overflow-y: scroll; 
    height: min-content;
    max-height: 1000vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .well-cement, .well-hole, .well-casing, .well-plug, .well-perfs{
    width: 100%;
    height: auto;
  }

  .new-feature-button{
    margin-bottom: 24px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .label1{
    position: absolute;
    top: 5%;
    left: 43.5%;
  }
  
  .label2{
    position: absolute;
    top: 5%;
    left: 40%;
  }
  
  .label3{
    position: absolute;
    top: 5%;
    left: 40%;
  }
  
  .label4{
    position: absolute;
    top: 5%;
    left: 30.5%;
  }
  
  .label5{
    position: absolute;
    top: 5%;
    left: 42.50%;
  }

  .chart{
    width: 85%;
    align-self: 'flex-start';
    margin-left: -60px;
    background-color: transparent;
    overflow: hidden;
    overflow-X: scroll;
  }

  .trash-icon{
    position: relative;
    justify-self: flex-end;
    align-self: flex-end;
    float: right;
    transform: translateY(-100%);
  }

  #float{
    
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:rgba(184, 156, 45, 0.8);
    color:white;
    border-radius:50px;
    text-align:center;
    z-index: 50;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-float{
    transform: translateY(-5%);
  }
  
}

.trash-icon{
  position: relative;
  justify-self: flex-end;
  align-self: flex-end;
  float: right;
  transform: translateY(-100%);
}

