body{
  background-image: url("./StaticImages/background.jpg");
  background-size: fit;
  background-position-y: 45%;
  background-repeat: no-repeat;
  font-family: 'Oxygen', sans-serif; 
  background-color: rgb(184, 156, 45);
}

.login-form{
  background-color: rgba(241, 241, 241, 1.0);
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
}

.register-form{
  background-color: rgba(241, 241, 241, 1.0);;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(241, 241, 241, 1.0);;
  padding: 20px;
  border-radius: 10px;
  margin-top: 35vh;
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
}

.fp-h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 16px;
}

.fp-p {
  font-family: 'Oxygen', sans-serif; 
}

.welcome-page-log-button{
  background-color: rgba(184, 156, 45, 0.6);
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.welcome-page-log-button:hover{
  background-color: rgba(184, 156, 45, 0.8);
  transform: scale(1.1); 
}

.well-container{
  display: flex;
  position: relative;
}

.well-info{
  max-height: 100vh;
  width: 75vw;
  border: 1px solid black;
  background-color: rgba(241, 241, 241, 0.2);
  padding: 16px;
}


.well-table-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.text-right{
  text-align: right;
}

h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 16px;
}

.perf-col, .casing-col, .cement-col, .hole-col, .plug-col{
  height: 70vh;
  max-height: 70vh;
  
  background-color: rgba(241, 241, 241, 1.0);
  border-right: 1px black solid;
}

.plug-col{
  border-right: none;
}

.well-hole, .well-casing, .well-cement, .well-plug, .well-perfs{
  padding: 16px;
}

.scroll-area{
  overflow: hidden;
  overflow-y: scroll;
  height: 55vh;
  max-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-well{
  display: flex;
  align-items: center;
  justify-content: center;
}


.canvas-frame{
  width: 25vw;
  height: 100vh;
  border: 3px solid purple;
  background-color: rgba(241, 241, 241, 1.0);
  z-index: 5;
}

.plat-pop-up{
  position: absolute;
  top: 5%;
  left: 32.5%;
  width: 500px !important;
  height: 500px;
  display: none;
  z-index: 99;
  border: 15px green solid;
  background-color: rgba(241, 241, 241, 1.0);
}

.well-list-container{
  width: 100%;
  border: thin solid black;
  padding: 16px;
  border-radius: 16px;
}

.well-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon{
  cursor: pointer
}

.ListItem{
  background-color: rgba(184, 156, 45, 0.4);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  padding-bottom: 0px;
  justify-content: space-between;
}

li:nth-child(even){
  background-color: rgba(184, 156, 45, 0.2);
}

.li-button{
  display: inline;
  border-radius: 8px;
  background-color: rgba(241, 241, 241, 1.0);
  transform: scale(0.9); 
}

.li-button:hover{
  background-color: rgba(255, 255, 255, 1.0);
  transform: scale(1.0); 
}

.bold-span{
  font-weight: bold;
}

.new-feature-button{
  background-color: rgba(184, 156, 45, 0.6);
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.new-feature-button:hover{
  background-color: rgba(184, 156, 45, 0.8);
  transform: scale(1.1); 
}

.input-hidden{
  background-color: transparent;
  border: none;
}

.county-state{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.county{
  width: 60%;
}

.state{
  width: 33%;
}

.input-hidden:focus{
  background-color: white;
}


@media screen and (max-width: 768px) {
  
  * {
    background-color: rgb(184, 156, 45, 0.2);
  }
  body{
    background-image: none;
  }

  .welcome-container{
    width: 90vw;
    margin-top: 10vh;
  }

  .well-container{
    flex-direction: column;
  }

  .well-info{
    width: 90vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }

  .canvas-frame{
    width: 90vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Experimental */
.showme{
  background-image: url("./StaticImages/chevron2.png");
  height: 100px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-left: 0;
  margin-bottom: 16px;
  color: rgba(241, 241, 241, 1.0);
  text-align: center;
  background-position: center top;
  position: relative;
  background-color: rgba(241, 241, 241, 0.6);
}

.label1{
  position: absolute;
  top: 5%;
  left: 40%;
}

.label2{
  position: absolute;
  top: 5%;
  left: 35%;
}

.label3{
  position: absolute;
  top: 5%;
  left: 35%;
}

.label4{
  position: absolute;
  top: 5%;
  left: 20%;
}

.label5{
  position: absolute;
  top: 5%;
  left: 37.5%;
}